html, body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/index/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    overflow: hidden;
}

/* 大螢幕（例如桌面電腦） */
@media (min-width: 1600px){
    .container {
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        padding: 50px;
        border-radius: 10px;
    }
    .title {
        font-size: 5em;
        font-weight: bold;
        margin: 10px 0;
    }
    .title2 {
        font-size: 3.2em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    .title2 img {
        margin-left: 10px;
        width: 100px;
        height: 100px;
    }
    .icons {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    .icon {
        text-align: center;
        width: 120px;
        height: auto;
    }
    .icon img {
        width: 100px;
        height: 100px;
    }
    .icon p {
        margin-top: 0.6vh;
        font-size: 2em;
    }
    .last-edited {
        margin-top: 20px;
        font-size: 2em;
    }
}


/* 中等螢幕（筆記型電腦） */
@media (min-width: 1025px) and (max-width: 1599px) {
    .container {
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }
    .title {
        font-size: 2.8em;
        font-weight: bold;
        margin: 10px 0;
    }
    .title2 {
        font-size: 2em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    .title2 img {
        margin-left: 10px;
        width: 60px;
        height: 60px;
    }
    .icons {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    .icon {
        text-align: center;
        width: 100px;
        height: auto;
    }
    .icon img {
        width: 60px;
        height: 60px;
    }
    .icon p {
        margin-top: 0.7vh;
        font-size: 1.2em;
    }
    .last-edited {
        margin-top: 20px;
        font-size: 1.2em;
    }
}

/* 中等螢幕（平板電腦） */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }
    .title {
        font-size: 2.8em;
        font-weight: bold;
        margin: 10px 0;
    }
    .title2 {
        font-size: 2em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    .title2 img {
        margin-left: 10px;
        width: 70px;
        height: 70px;
    }
    .icons {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .icon {
        text-align: center;
        width: 120px;
        height: auto;
    }
    .icon img {
        width: 70px;
        height: 70px;
    }
    .icon p {
        margin-top: 0.5vh;
        font-size: 1.5em;
    }
    .last-edited {
        margin-top: 20px;
        font-size: 1.5em;
    }
}

/* 小螢幕（手機） */
@media (max-width: 767px){
    .container {
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }
    .title {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 1vh;
    }
    .title2 {
        font-size: 1.5em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1vh;
    }
    .title2 img {
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }
    .icons {
        display: flex;
        justify-content: space-around;
    }
    .icon {
        text-align: center;
        width: 70px;
        height: auto;
    }
    .icon img {
        width: 50px;
        height: 50px;
    }
    .icon p {
        margin-top: 0.3vh;
        font-size: 1em;
    }
    .last-edited {
        margin-top: 2vh;
        font-size: 1em;
    }
}